src/main/resources/epaper-request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="epaperRequest" type="epaperRequestType"/>
  <xs:complexType name="screenInfoType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="width"/>
        <xs:attribute type="xs:string" name="height"/>
        <xs:attribute type="xs:string" name="dpi"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="osInfoType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="version"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="appInfoType">
    <xs:sequence>
      <xs:element type="xs:string" name="newspaperName"/>
      <xs:element type="xs:string" name="version"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deviceInfoType">
    <xs:sequence>
      <xs:element type="screenInfoType" name="screenInfo"/>
      <xs:element type="osInfoType" name="osInfo"/>
      <xs:element type="appInfoType" name="appInfo"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name"/>
    <xs:attribute type="xs:string" name="id"/>
  </xs:complexType>
  <xs:complexType name="getPagesType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="editionDefId"/>
        <xs:attribute type="xs:string" name="publicationDate"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="epaperRequestType">
    <xs:sequence>
      <xs:element type="deviceInfoType" name="deviceInfo"/>
      <xs:element type="getPagesType" name="getPages"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>